<app-typeahead-list
  [modelsList]="students"
  [dataReady]="dataReady"
  [httpError]="httpError"
  [displayedFieldsFromModel]="displayedFieldsInList"
  [fieldsFromModelUsedInFilter]="fieldsUsedInFilter"
  [inputPromptText]="'Wyszukaj studenta:'"
  [inputPlaceholderText]="'Wpisz imię / nazwisko / numer albumu '"
  [addBtnVisible]="addBtnVisible"
  [msgBtnVisible]="msgBtnVisible"
  idFieldName="index"
  (addBtnClick)="onAddBtnClick($event)"
  (messageBtnClick)="showNotImplementedError()"
>
</app-typeahead-list>

<!-- ------------------------------------------- TEMPLATES ------------------------------------------- -->
<ng-template #studentInvitationSuccessTemplate>
  <app-modal-response type="success" headerText="Wysłano zaproszenie" [textLines]="studentInvitationSuccessTextLines">
    <button class="btn btn-sm btn-outline-success w-25 mt-3" (click)="modalRef.hide()">OK</button>
  </app-modal-response>
</ng-template>
