<div class="row">
  <!-- ------------------------------------------- MAIL CONTENT ------------------------------------------- -->
  <div class="w-50">
    <div class="w-100 my-4 card">
      <div class="d-flex flex-column card-body">
        <!-- ----------------------- From ---------------------- -->
        <div class="input-group">
          <div class="input-group-prepend w-15">
            <div class="input-group-text bg-dark text-light w-100">
              <span class="w-100 font-weight-bold">Od</span>
            </div>
          </div>
          <input type="text" class="form-control" value="Powiadomienia-Systemowe-ZPI" disabled />
        </div>
        <!-- ----------------------- Tu ---------------------- -->
        <div class="input-group">
          <div class="input-group-prepend w-15">
            <div class="input-group-text bg-dark text-light w-100">
              <span class="w-100 font-weight-bold"> Do </span>
            </div>
          </div>
          <input type="text" class="form-control" value="grzegorz.zając@pwr.edu.pl" disabled />
        </div>
        <!-- ----------------------- Temat ---------------------- -->
        <div class="input-group">
          <div class="input-group-prepend w-15">
            <div class="input-group-text bg-dark text-light w-100">
              <span class="w-100 font-weight-bold"> Temat </span>
            </div>
          </div>
          <input type="text" class="form-control" value="[Z03] Powiadomienie" disabled />
        </div>
      </div>
    </div>
    <!-- ----------------------- Message ---------------------- -->
    <div class="w-100 my-4 card">
      <div class="card-body">content</div>
      <div class="card-body btn-group">
        <button class="btn btn-danger">Odrzuć zaproszenie</button>
        <button class="btn btn-success">Akceptuj zaproszenie</button>
      </div>
    </div>
  </div>
  <!-- ----------------------- LIST OF MAILS ---------------------- -->
  <div class="w-50">
    <div class="card w-100 my-4">
      <div class="d-flex flex-column card-body">Content</div>
    </div>
  </div>
</div>
