<div class="w-75 mt-3">
  <div class="row py-4 mx-4">
    <div class="col-md-7">
      <!-- ----------------------- Header info ---------------------- -->
      <div class="py-2 h5 text-dark bg-light rounded text-center font-weight-bold" style="font-size: 1.2em">Aplikacja mobilna</div>
      <div class="py-2 text-dark bg-light rounded text-center"><i>"Super pralka"</i></div>
      <div class="py-2 text-center mb-5 text-dark bg-light">prof Janusz Kogut</div>

      <!-- ----------------------- Team members ---------------------- -->
      <div class="py-2 text-light bg-dark rounded text-center">Członkowie zespołu</div>
      <div *ngFor="let member of team.members" class="py-2 bg-light w-100 rounded border">
        <div class="d-flex flex-row mx-1">
          <div class="text-left align-middle align-items-center d-flex text-truncate ml-3">
            <span class="mx-1">{{ member.name }}</span>
            <span class="mx-1">{{ member.surname }},</span>
            <span class="mx-1">{{ member.indexNumber }}</span>
          </div>
          <div *ngIf="member.indexNumber == team.adminIndex" class="d-flex flex-fill justify-content-end mr-1">
            <div class="badge badge-success align-items-center d-flex" style="font-size: 0.7em">Administrator</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
