<div *ngIf="dataReady; else dataNotYetFetchedTemplate" class="py-4 mx-4">
  <div class="w-75 mt-3">
    <!-- ----------------------- Subject type ---------------------- -->
    <div class="row mx-0">
      <div class="col-md-6 py-2 h5 bg-success rounded text-center text-light font-weight-bold w-50" style="font-size: 1.3em">
        {{ topicText | titlecase }}
      </div>
      <div class="col-md-3">
        <button *ngIf="userIsTeamAdmin" class="btn btn-block btn-outline-danger">Usuń zespół</button>
      </div>
    </div>
    <!-- ----------------------- Subject ---------------------- -->
    <div class="row mx-0">
      <div class="col-md-6 py-2 text-dark bg-light rounded text-center">
        <i>{{ subjectText | titlecase }}</i>
      </div>
      <div *ngIf="userIsTeamAdmin" class="col-md-3">
        <button *ngIf="team.topic; else addSubjectBtn" class="btn btn-dark btn-block" (click)="showNotImplementedError()">
          Edytuj temat
        </button>
        <ng-template #addSubjectBtn>
          <button *ngIf="teamHasLecturer" class="btn btn-dark btn-block">Dodaj temat</button>
        </ng-template>
      </div>
    </div>
    <!-- ----------------------- Lecturer ---------------------- -->
    <div class="row mx-0">
      <div class="col-md-6 py-2 text-center mb-5 text-dark bg-light" style="font-size: 0.95em">
        {{ lecturerInfoText | titlecase }}
      </div>
      <div *ngIf="userIsTeamAdmin" class="col-md-3">
        <button *ngIf="teamHasLecturer; else addLecturerBtn" class="btn btn-dark btn-block" (click)="showNotImplementedError()">
          Edytuj opiekuna
        </button>
        <ng-template #addLecturerBtn>
          <button class="btn btn-dark btn-block" routerLink="/teachers">Dodaj opiekuna</button>
        </ng-template>
      </div>
    </div>

    <!-- ----------------------- Team members ---------------------- -->
    <div class="row mx-0">
      <div class="col-md-6 py-2 text-light bg-dark rounded text-center">Członkowie zespołu</div>
      <div class="col-md-3">
        <button
          *ngIf="userIsTeamAdmin; else leaveFromTeamBtnTemplate"
          class="btn btn-success btn-block"
          [disabled]="maxNumberOfTeamsMembers"
          routerLink="/students"
        >
          Dodaj studentów
        </button>
        <ng-template #leaveFromTeamBtnTemplate>
          <button class="btn btn-outline-danger btn-block" (click)="openModal(confirmLeavingByPasswordTemplate)">
            Wypisz z zespołu
          </button>
        </ng-template>
      </div>
    </div>
    <div *ngFor="let member of team.members" class="py-2 bg-light w-50 rounded border">
      <div class="d-flex flex-row mx-1">
        <div class="text-left align-middle align-items-center d-flex text-truncate ml-3">
          <span class="mx-1">{{ member.name }}</span>
          <span class="mx-1">{{ member.surname }},</span>
          <span class="mx-1">{{ member.index }}</span>
        </div>
        <div class="d-flex flex-fill justify-content-end mr-1">
          <div
            *ngIf="member.email == team.adminEmail"
            class="badge badge-success align-items-center d-flex mr-1"
            style="font-size: 0.7em"
          >
            Administrator
          </div>
          <div
            *ngIf="member.email == loggedUserEmail"
            class="badge badge-dark align-items-center d-flex mr-1"
            style="font-size: 0.7em"
          >
            Ty
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------- TEMPLATES ---------------------- -->
<ng-template #dataNotYetFetchedTemplate>
  <ng-container *ngIf="httpError !== undefined; else dataLoadingTemplate">
    <div class="w-50 py-5 mx-auto d-flex h-100">
      <div class="mx-auto w-75">
        <app-error-response
          [errorCode]="httpError.statusCode"
          [errorText]="httpError.msg"
          errorCodeFontSize="3em"
          errorTextFontSize="1em"
        >
        </app-error-response>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #dataLoadingTemplate>
  <app-data-loading text="Loading data"></app-data-loading>
</ng-template>

<ng-template #confirmLeavingByPasswordTemplate>
  <app-modal-response
    type="dark"
    headerText="Potwierdź chęć wypisania się z zespołu"
    [textLines]="['Potwierdz operację - podaj hasło:']"
  >
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Hasło</div>
      </div>
      <input type="password" class="form-control" [formControl]="passwordControl" #inputBox />
      <button type="submit" class="btn btn-success" [disabled]="passwordControl.invalid" (click)="leaveTeam()">Potwierdź</button>
    </div>
    <alert type="danger" *ngIf="showIncorrectPasswordAlert">Podano nieprawidłowe hasło - spróbuj ponownie</alert>
  </app-modal-response>
</ng-template>

<ng-template #successfulLeftFromTeamTemplate>
  <app-modal-response type="success" headerText="Pomyślnie wypisano z zespołu" [textLines]="['Pomyślnie wypisano Cię z zespołu']">
    <button class="btn btn-sm btn-outline-success w-25 mt-3" (click)="modalRef.hide()">OK</button>
  </app-modal-response>
</ng-template>

<ng-template #otherErrorTemplate>
  <app-modal-response type="danger" headerText="Błąd podczas tworzenia zespołu" [textLines]="otherErrorTextLines">
    <button class="btn btn-sm btn-outline-danger w-25 mt-3" (click)="modalRef.hide()">OK</button>
  </app-modal-response>
</ng-template>
