@use "../src/app/shared/styles/variables.scss";

body {
  background-color: variables.$color-darker-light;
  ::-moz-selection {
    color: white;
    background: variables.$color-accent;
  }

  ::selection {
    color: white;
    background: variables.$color-accent;
  }
}
