<div class="d-flex flex-column bg-light rounded h-100">
  <label class="bg-dark rounded text-light py-2 text-center sticky-top">Utworzone zespoły</label>
  <ng-container *ngIf="dataReady; else dataNotYetFetchedTemplate">
    <ng-container *ngIf="teams.length > 0; else resultsEmpty">
      <div *ngFor="let team of teams">
        <button type="button" class="btn w-100" [ngClass]="teamListRowClass(team.id)" (click)="actualDisplayedTeamId = team.id">
          <div class="text-left row mx-0">
            <span class="col-md-1 mx-auto font-weight-bold text-truncate">{{ team.id }}</span>
            <span class="col-md-4 text-truncate">{{ getTopicText(team) | titlecase }}</span>
            <span class="col text-truncate">{{ getSubjectText(team) | titlecase }}</span>
          </div>
        </button>
      </div>
    </ng-container>
    <ng-template #resultsEmpty>
      <div class="py-2 text-secondary text-center">Not found any teams</div>
    </ng-template>
  </ng-container>
</div>

<!-- ----------------------- TEMPLATES ---------------------- -->
<ng-template #dataNotYetFetchedTemplate>
  <ng-container *ngIf="httpError !== undefined; else dataLoadingTemplate">
    <div class="preferences-panel align-items-center d-flex h-100">
      <div class="mx-auto w-75">
        <app-error-response
          [errorCode]="httpError.statusCode"
          [errorText]="httpError.msg"
          errorCodeFontSize="3em"
          errorTextFontSize="1em"
        >
        </app-error-response>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #dataLoadingTemplate>
  <app-data-loading text="Loading data"></app-data-loading>
</ng-template>
