<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 1021">
  <div class="container">
    <!-- ------------------------------------------- BRAND ------------------------------------------- -->
    <a class="navbar-brand" routerLink="/teams">
      <img
        src="assets/images/brand-logo-white.png"
        width="65"
        height="65"
        class="d-inline-block align-middle"
        alt="collage-logo"
        loading="lazy"
      />
      <span class="mx-4 align-baseline text-light h5">ZPI Assistant</span>
    </a>
    <!-- ------------------------------------------- LINKS ------------------------------------------- -->
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams" [routerLinkActive]="['active']">Zespoły <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers" [routerLinkActive]="['active']">Opiekunowie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students" [routerLinkActive]="['active']">Studenci</a>
        </li>
      </ul>
      <!-- ------------------------------------------- ACCOUNT ------------------------------------------- -->
      <!-- ----------------------- LOGGED ---------------------- -->
      <div *ngIf="isLogged; else signInTemplate" class="btn-group" role="group">
        <button class="btn btn-outline-light d-flex align-items-center" routerLink="/mailbox">
          <span class="material-icons"> email </span>
          <span class="badge badge-danger">4</span>
        </button>
        <div class="btn-group" dropdown #accountDropdown="bs-dropdown" [autoClose]="true">
          <button
            id="account-info"
            type="button"
            class="btn btn-outline-light dropdown-toggle"
            (mouseenter)="accountDropdown.show()"
            (mouseleave)="accountDropdown.hide()"
          >
            Łukasz Gajerski <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Student</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">246703</a></li>
          </ul>
        </div>
        <button class="btn btn-outline-danger" (click)="isLogged = false">Sign out</button>
      </div>
      <!-- ----------------------- NOT LOGGED ---------------------- -->
      <ng-template #signInTemplate> <button class="btn btn-outline-success" (click)="isLogged = true">Sign in</button> </ng-template>
    </div>
  </div>
</nav>
